In [1]:
x=8
y=10
result=x//3*3/2+y%2**2
print(result)

5.0

In [2]:
start=input('How old were you at the time of joining?')
end=input('How old are you today?')
print("Coongratulations on"+str(int(end)-int(start))+'Years of Service')

How old were you at the time of joining?42
How old are you today?50
Coongratulations on8Years of Service

In [3]:
x='ACROTE'
y='APPLE'
z='TOMATO'
print(x[1]+y[0]+z[0])

CAT

In [4]:
x='ACROTE'
y='APPLE'
z='TOMATO'
print(x[-5]+y[0]+z[0])

CAT

In [5]:
x= 'Durga'
y='Durga'
result=x==y
print(result)

True

In [6]:
a1='10'
b1=3
c1=a1*b1

In [7]:
c1

'101010'

In [8]:
a2=10
b2=3
c2=a2/b2

In [9]:
a3=2.6
b3=1
c3=a3/b3

In [10]:
c3

2.6

In [11]:
type(c3)

float

In [12]:
type(c2)

float

In [13]:
type(c1)

str

In [14]:
13//4  # gives quotient

3

In [15]:
11/3 # actual Division

3.6666666666666665

In [16]:
3**1  # 3 power 1

3

In [17]:
23%5 # gives remainder

3

In [18]:
n1=[10,20,30,40,50]
n2=[10,20,30,40,50]
print(n1 is n2)
print(n1==n2)

False
True

In [19]:
a=1
b=3
c=5
d=7
print(a-b//d)

1

In [20]:
a=1
b=3
c=5
d=7
print(a%b-1)

0

In [21]:
a=1
b=3
c=5
d=7
print(a**d-1)

0

In [22]:
a=1
b=3
c=5
d=7
print(a+b*2)

7

In [23]:
s='AB CD'
list=list(s)
list.append('EF')
print(list)

['A', 'B', ' ', 'C', 'D', 'EF']

In [24]:
a=5
b=10
c=2
d=True
x=a+b*c
y=a+b/d
if(x>y):
    print('Valid')
else:
    print('Invalid')

Valid

In [25]:
x=input('Enter 1st No.: ')
y=input('Enter 2nd NO.: ')
print('The Result:'+str(int(x)+int(y)))

Enter 1st No.: 12
Enter 2nd NO.: 24
The Result:36

In [26]:
weight=62.4
zip='80098'
value=+23E4
#type float,string and float

In [27]:
a=bool([False])
b=bool(3)
c=bool("")
d=bool('  ')

In [28]:
result=(2*(3+4)**2-(3**3)*3)
print(result)

17

In [29]:
a=2
a+=1
a**=2
print(a)

9

In [30]:
a=21
b=6
print(a/b)
print(a//b)
print(a%b)

3.5
3
3

In [32]:
#consider expression and what will result value?
result=(2*(3+4)**2-(3**3)*3)
print(result)

17

In [33]:
a=2
a+=1
a**2

9

In [34]:
#Which of following will show True
b=bool(3)
c=bool(0.5)

In [35]:
b

True

In [36]:
c

True

In [38]:
s='Python is easy'
s1=s[6:-4]
s2=s1.strip()
print(len(s2))

2

In [39]:
#which of is valid for Mango


list=['Apple','Banana','Carrot','Mango']

In [40]:
list[3]

'Mango'

In [41]:
list[-1]

'Mango'

In [45]:
list=['Apple','Boy','Cat','Dog']
for x in list:
      if len(x)==3:
          print(x)

Boy
Cat
Dog

In [50]:
list1=['Apple','Boy','Cat','Dog']
l1=list1[1:]
for x in l1:
    print(x)

Boy
Cat
Dog

In [51]:
 #which expression results -4?
a=1
b=2
c=4
d=6
print((a+b)//d-c)

-4

In [53]:
z=8//6%5+2**3-2
print(z)

7

In [54]:
a=3
b=5
a+=2**3
a-=b//2//3
print(a)

11

In [55]:
# 10 willbe printed in console
numbers=[10,20,30,40]
x=0
for i in (30,40,50):
    if i not  in numbers:
        x=x+5
print(x)

5

In [56]:
numbers=[10,20,30,40]
x=0
for i in (30,40,50):
    if i not  in numbers:
        x=x+10
print(x)

10